In [1]:
import pandas as pd
import sklearn

In [2]:
data = pd.read_csv("Company A - data.csv")

In [3]:
data.head(10)

,id,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,1869,7010-BRBUU,Male,0,Yes,Yes,72,Yes,Yes,No,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Credit card (automatic),24.10,1734.65,No
1,4528,9688-YGXVR,Female,0,No,No,44,Yes,No,Fiber optic,...,Yes,No,Yes,No,Month-to-month,Yes,Credit card (automatic),88.15,3973.2,No
2,6344,9286-DOJGF,Female,1,Yes,No,38,Yes,Yes,Fiber optic,...,No,No,No,No,Month-to-month,Yes,Bank transfer (automatic),74.95,2869.85,Yes
3,6739,6994-KERXL,Male,0,No,No,4,Yes,No,DSL,...,No,No,No,Yes,Month-to-month,Yes,Electronic check,55.90,238.5,No
4,432,2181-UAESM,Male,0,No,No,2,Yes,No,DSL,...,Yes,No,No,No,Month-to-month,No,Electronic check,53.45,119.5,No
5,2215,4312-GVYNH,Female,0,Yes,No,70,No,No phone service,DSL,...,Yes,Yes,No,Yes,Two year,Yes,Bank transfer (automatic),49.85,3370.2,No
6,5260,2495-KZNFB,Female,0,No,No,33,Yes,Yes,Fiber optic,...,No,No,No,Yes,Month-to-month,Yes,Electronic check,90.65,2989.6,No
7,6001,4367-NHWMM,Female,0,No,No,1,No,No phone service,DSL,...,No,No,No,No,Month-to-month,Yes,Mailed check,24.90,24.9,No
8,1480,8898-KASCD,Male,0,No,No,39,No,No phone service,DSL,...,Yes,Yes,No,No,One year,No,Mailed check,35.55,1309.15,No
9,5137,8016-NCFVO,Male,1,No,No,55,Yes,Yes,Fiber optic,...,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,116.50,6382.55,No

In [4]:
data.info() #No nulls in data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5986 entries, 0 to 5985
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                5986 non-null   int64
 1   customerID        5986 non-null   object
 2   gender            5986 non-null   object
 3   SeniorCitizen     5986 non-null   int64
 4   Partner           5986 non-null   object
 5   Dependents        5986 non-null   object
 6   tenure            5986 non-null   int64
 7   PhoneService      5986 non-null   object
 8   MultipleLines     5986 non-null   object
 9   InternetService   5986 non-null   object
 10  OnlineSecurity    5986 non-null   object
 11  OnlineBackup      5986 non-null   object
 12  DeviceProtection  5986 non-null   object
 13  TechSupport       5986 non-null   object
 14  StreamingTV       5986 non-null   object
 15  StreamingMovies   5986 non-null   object
 16  Contract          5986 non-null   object
 17  PaperlessBilling  5986 non-null   object
 18  PaymentMethod     5986 non-null   object
 19  MonthlyCharges    5986 non-null   float64
 20  TotalCharges      5986 non-null   object
 21  Churn             5986 non-null   object
dtypes: float64(1), int64(3), object(18)
memory usage: 1.0+ MB

In [5]:
data.drop(['id','customerID'],axis = 1, inplace = True)

In [6]:
#Replace all yes/no with 0/1
for i in data.columns:
    for j in range(0,len(data)):
        if data[i][j] == "No":
            data[i][j] = 0
        elif data[i][j] == "Yes":
            data[i][j] = 1

<ipython-input-6-75c30e9e1b46>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i][j] = 1
<ipython-input-6-75c30e9e1b46>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i][j] = 0

In [7]:
data.head(5)

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Male,0,1,1,72,1,1,0,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,0,Credit card (automatic),24.10,1734.65,0
1,Female,0,0,0,44,1,0,Fiber optic,0,1,1,0,1,0,Month-to-month,1,Credit card (automatic),88.15,3973.2,0
2,Female,1,1,0,38,1,1,Fiber optic,0,0,0,0,0,0,Month-to-month,1,Bank transfer (automatic),74.95,2869.85,1
3,Male,0,0,0,4,1,0,DSL,0,0,0,0,0,1,Month-to-month,1,Electronic check,55.90,238.5,0
4,Male,0,0,0,2,1,0,DSL,1,0,1,0,0,0,Month-to-month,0,Electronic check,53.45,119.5,0

In [8]:
data["Dependents"].unique()

array([1, 0], dtype=object)

In [9]:
data.columns

Index(['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure',
       'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity',
       'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
       'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod',
       'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [10]:
data.iloc[:,8:14]

,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service
1,0,1,1,0,1,0
2,0,0,0,0,0,0
3,0,0,0,0,0,1
4,1,0,1,0,0,0
...,...,...,...,...,...,...
5981,1,0,0,0,1,1
5982,1,1,1,1,1,1
5983,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service
5984,0,0,1,0,1,1
5985,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service

In [11]:
internetatt = ['OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies']

In [12]:
#Replace "No internet service" in internet-related attributes with zero
for i in internetatt:
    for j in range(0,len(data)):
        if data[i][j] == "No internet service":
            data[i][j] = 0

<ipython-input-12-db0b2094020c>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i][j] = 0

In [13]:
data.head(5)

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Male,0,1,1,72,1,1,0,0,0,0,0,0,0,Two year,0,Credit card (automatic),24.10,1734.65,0
1,Female,0,0,0,44,1,0,Fiber optic,0,1,1,0,1,0,Month-to-month,1,Credit card (automatic),88.15,3973.2,0
2,Female,1,1,0,38,1,1,Fiber optic,0,0,0,0,0,0,Month-to-month,1,Bank transfer (automatic),74.95,2869.85,1
3,Male,0,0,0,4,1,0,DSL,0,0,0,0,0,1,Month-to-month,1,Electronic check,55.90,238.5,0
4,Male,0,0,0,2,1,0,DSL,1,0,1,0,0,0,Month-to-month,0,Electronic check,53.45,119.5,0

In [14]:
#Check if no internet implies no other options related to internet
counter = 0
for i in range(0,len(data)):
        if data['InternetService'][i] == 0:
            counter = counter + data.iloc[i,8:14].sum()
counter
#sum is 0 so it is true

0

In [15]:
data['Fiber optic'] = 0
data['DSL'] = 0
for i in range(0,len(data)):
    if data['InternetService'][i] == 'Fiber optic':
        data['Fiber optic'][i] = 1
    elif data['InternetService'][i] == 'DSL':
        data['DSL'][i] = 1
data1 = data[['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure',
       'PhoneService', 'MultipleLines', 'InternetService', 'Fiber optic', 'DSL',
        'OnlineSecurity','OnlineBackup', 'DeviceProtection', 'TechSupport',
        'StreamingTV','StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod',
       'MonthlyCharges', 'TotalCharges', 'Churn']] #Rearrange columns

<ipython-input-15-d5445bdbc21b>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Fiber optic'][i] = 1
<ipython-input-15-d5445bdbc21b>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['DSL'][i] = 1

In [16]:
data1.head(5)

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,Fiber optic,DSL,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Male,0,1,1,72,1,1,0,0,0,...,0,0,0,0,Two year,0,Credit card (automatic),24.10,1734.65,0
1,Female,0,0,0,44,1,0,Fiber optic,1,0,...,1,0,1,0,Month-to-month,1,Credit card (automatic),88.15,3973.2,0
2,Female,1,1,0,38,1,1,Fiber optic,1,0,...,0,0,0,0,Month-to-month,1,Bank transfer (automatic),74.95,2869.85,1
3,Male,0,0,0,4,1,0,DSL,0,1,...,0,0,0,1,Month-to-month,1,Electronic check,55.90,238.5,0
4,Male,0,0,0,2,1,0,DSL,0,1,...,1,0,0,0,Month-to-month,0,Electronic check,53.45,119.5,0

In [17]:
data1.drop('InternetService',axis =1, inplace = True)

C:\Users\FiercePC\anaconda3\lib\site-packages\pandas\core\frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [18]:
data1.head(5)

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,Fiber optic,DSL,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Male,0,1,1,72,1,1,0,0,0,...,0,0,0,0,Two year,0,Credit card (automatic),24.10,1734.65,0
1,Female,0,0,0,44,1,0,1,0,0,...,1,0,1,0,Month-to-month,1,Credit card (automatic),88.15,3973.2,0
2,Female,1,1,0,38,1,1,1,0,0,...,0,0,0,0,Month-to-month,1,Bank transfer (automatic),74.95,2869.85,1
3,Male,0,0,0,4,1,0,0,1,0,...,0,0,0,1,Month-to-month,1,Electronic check,55.90,238.5,0
4,Male,0,0,0,2,1,0,0,1,1,...,1,0,0,0,Month-to-month,0,Electronic check,53.45,119.5,0

In [20]:
data1['Male'] = 0
data1['Female'] = 0
for i in range(0,len(data1)):
    if data1['gender'][i] == 'Male':
        data1['Male'][i] = 1
    elif data1['gender'][i] == 'Female':
        data1['Female'][i] = 1
data2 = data1[['gender','Male','Female', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure',
       'PhoneService', 'MultipleLines', 'Fiber optic', 'DSL',
        'OnlineSecurity','OnlineBackup', 'DeviceProtection', 'TechSupport',
        'StreamingTV','StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod',
       'MonthlyCharges', 'TotalCharges', 'Churn']] #Rearrange columns

<ipython-input-20-bc357a368966>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['Male'][i] = 1
<ipython-input-20-bc357a368966>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['Female'][i] = 1

In [21]:
data2

,gender,Male,Female,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,Fiber optic,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Male,1,0,0,1,1,72,1,1,0,...,0,0,0,0,Two year,0,Credit card (automatic),24.10,1734.65,0
1,Female,0,1,0,0,0,44,1,0,1,...,1,0,1,0,Month-to-month,1,Credit card (automatic),88.15,3973.2,0
2,Female,0,1,1,1,0,38,1,1,1,...,0,0,0,0,Month-to-month,1,Bank transfer (automatic),74.95,2869.85,1
3,Male,1,0,0,0,0,4,1,0,0,...,0,0,0,1,Month-to-month,1,Electronic check,55.90,238.5,0
4,Male,1,0,0,0,0,2,1,0,0,...,1,0,0,0,Month-to-month,0,Electronic check,53.45,119.5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5981,Male,1,0,0,1,0,1,1,0,1,...,0,0,1,1,Month-to-month,1,Electronic check,95.00,95,1
5982,Female,0,1,0,1,1,23,1,1,0,...,1,1,1,1,Two year,1,Credit card (automatic),91.10,2198.3,0
5983,Male,1,0,0,1,1,12,1,0,0,...,0,0,0,0,Month-to-month,1,Electronic check,21.15,306.05,0
5984,Male,1,0,1,0,0,12,1,1,1,...,1,0,1,1,Month-to-month,1,Electronic check,99.45,1200.15,1
5985,Male,1,0,0,0,0,26,1,0,0,...,0,0,0,0,One year,0,Credit card (automatic),19.80,457.3,0